<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="infoHeader">
        <h1>Alunos</h1>
        <p>Os alunos de nossa unidade:</p>
        
    </header>
    <div class="btnCad">
        <button><a href="/">Rotas</a></button>
        <button><a href="/cadaluno">Cadastro de alunos</a></button>
        <button><a href="/buscaraluno">Buscar</a></button>
    </div>
    <div class="infoCursos">
        {{#each listarAlunos}}
        <div>
            <h2>#{{id}} {{nome}}</h2>
            <a class="linkInfos" href="/alunos/{{this.id}}">
                <ul>
                    <li><strong>Nome:</strong> {{nome}}</li>
                    <li><strong>peso:</strong> {{peso}}</li>
                    <li><strong>altura:</strong> {{altura}}</li>
                    <li><strong>Telefone:</strong> {{telefone}}</li>
                </ul>
                <button><a href="/alunos/edit/{{this.id}}">Editar</a></button>
                <button><a href="/removeralunos/{{this.id}}">Excluir</a></button>
            </a>
        </div>
        {{/each}}
    </div>
    
</body>