<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="infoHeader">
        <h1>Produtos</h1>
        <p>Alguns de nossos Produtos:</p>

    </header>
    <div class="btnCad">
        <button><a href="/">Rotas</a></button>
        <button><a href="/cadproduto">Cadastro de Produtos</a></button>
        <button><a href="/buscarProduto">Buscar</a></button>
    </div>
    <div class="infoCursos">
        {{#each listarMaterias}}
        <div>
            <h2>#{{id}} {{nome}}</h2>
            <a class="linkInfos" href="/produtos/{{this.id}}">
                <ul>
                    <li><strong>Nome:</strong> {{nome}}</li>
                    <li><strong>Preço:</strong> {{preco}}</li>
                    <li><strong>descricao:</strong> {{descricao}}</li>
                </ul>
                <button><a href="/produto/edit/{{this.id}}">Editar</a></button>
                <button><a href="/removerproduto/{{this.id}}">Excluir</a></button>
            </a>
        </div>
        {{/each}}
    </div>

</body>