<head>

</head>

<div class="getId">
    <div>
        <h1>#{{listar.id}} {{listar.nome}}</h1>
    
        <ul>
            <li><strong>preço:</strong> {{listar.preco}}</li>
            <li><strong>descricao:</strong> {{listar.descricao}}</li>
        </ul>
        <button><a href="/produto/edit/{{listar.id}}">Editar</a></button>
        <button><a href="/produto">Voltar</a></button>
    </div>
</div>
























   <!--> <style>
        body{
            background-image: linear-gradient(to right top, #081b2e, #091725, #07121c, #050c13, #030405);
            color: #fff;
        }
        .getId{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .getId div{
            margin-top: 15rem;
            text-align: center;
            border: 2px solid #fff;
            padding: 2rem;
            transform: scale(1.2);
        }
        .getId div:hover{
            transform: scale(1.4);
            transition: all ease-in-out .2s;
        }
        .getId ul{
            list-style: none;
            padding: 0;
            margin-bottom: 1.3rem;
        }
        button a{
            text-decoration: none;
            color: #000;
        }

    </style><!-->